<div class="introdiv">
  <div id="intro" class="basic-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="text-container">
            <div class="section-title">INTRO</div>
            <h2>We Offer Some Of The Best Business Growth Services In Town</h2>
            <p>
              Launching a new company or developing the market position of an
              existing one can be quite an overwhelming processs at times.
            </p>
            <p class="testimonial-text">
              "Our mission here at Aira is to get you through those tough
              moments relying on our team's expertise in starting and growing
              companies."
            </p>
            <div class="testimonial-author">Louise Donovan - CEO</div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="image-container">
            <img
              class="img-fluid"
              src="https://i.ibb.co/6bYKTS6/intro-office.jpg"
              alt="alternative"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
